<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'portfolio/layout.html' %}
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    {% block main %}
        {% load static %}
        <link  rel="stylesheet" href="{% static 'portfolio/css/course.css' %}">
        <main>
            <div class = "container">
                {% for course in courses %}
                <div>
                    <h2>{{course.title}}</h2>
                    <p>{% if course.rank == 5 %}
                            &#11088&#11088&#11088&#11088&#11088
                        {% elif course.rank == 4 %}
                            &#11088&#11088&#11088&#11088
                        {% elif course.rank == 3 %}
                            &#11088&#11088&#11088
                        {% elif course.rank == 2 %}
                            &#11088&#11088&
                        {% else %}
                            &#11088
                        {% endif %}
                    </p>
                    <ul>
                        <li> <b>Year:</b> {{ course.year }}º</li>
                        <li> <b>Semester:</b> {{ course.semester }}º</li>
                        <li> <b>Professor:</b> {{ course.professor.name}}</li>
                        <li> <b>Professor:</b> {{ course.professor.name }}</li>
                    </ul>
                    <p>{{ course.description}}</p>
                    <a href=" {{ course.link }}">Link</a>
                    <h4> ECTS: {{ course.ects }}.0</h4>
                </div>
                {% endfor %}
            </div>

        </main>
        <p> </p>
    {% endblock %}
</body>
</html>