<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robert Cachapa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">

</head>
<body>

    <header>
        <div>Robert Cachapa</div>
        <nav>
            <a href="{% url 'portfolio:home' %}">home</a>
            <a href="{% url 'portfolio:course' %}">course</a>
            <a href="{% url 'portfolio:projects' %}">projects</a>
            <a href="{% url 'portfolio:skills' %}">skills</a>
            <a href="{% url 'portfolio:about' %}">about</a>
            <a href="{% url 'portfolio:quizz' %}">quizz</a>
            <a href="{% url 'portfolio:blog' %}">blog</a>
        </nav>
      </header>

      <main>
          {% block main %}
          {% endblock main %}
      </main>

    <footer>ULHT, 2022</footer>
</body>
</html>