<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'portfolio/layout.html' %}
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% block main %}
        {% load static %}
        <link  rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">
        <div class="newBlog">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class ="login">
                    <div class ="useranme">
                        <label for ="username">Username:</label>
                        <input type="text" id="username" name="username" autocomplete="off">
                    </div>
                    <div class ="password">
                        <label for ="password">Password:</label>
                        <input type="password" id="password" name="password" autocomplete="off">

                    </div>
                    <input type="submit" value="Login" class="submitButton">
                </div>
            </form>
        </div>
    {% endblock %}
</body>
</html>