<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'portfolio/layout.html' %}
    <meta charset="UTF-8">
    <title>Projetos</title>
</head>
<body>
    {% block main %}
        <style>
            header {
                z-index: 1;
            }
        </style>
        {% load static %}
        <link  rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">
        <main>
            <div class ="projects">
                {% for project in projects %}
                    <div>
                        <div><img src ="{{ project.image.url }}" alt ="{{ project.title }}"></div>
                        <div>
                            {% if request.user.is_authenticated %}
                                <div>
                                    <a href="{% url 'portfolio:deleteProject' project.id %}" class="deleteBtn"><span class="red">.</span> X <span class="red">.</span></a>
                                </div>
                            {% endif %}
                            <h1>{{ project.title }}</h1>
                            <p>{{ project.description }} </p>
                            {% if request.user.is_authenticated %}
                                <div>
                                    <a href="{% url 'portfolio:editProject' project.id %}" class="editBtn">Edit</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% if request.user.is_authenticated %}
            <h1><a href="{% url 'portfolio:newProject' %}">+ New Project</a></h1>
        {% endif %}
        </main>
    {% endblock %}
</body>
</html>