<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'portfolio/layout.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>

         {% block main %}
             {% load static %}
                <link  rel="stylesheet" href="{% static 'portfolio/css/quizz.css' %}">
            <main>
                <fieldset class = "quizz">
                    <form action = "" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class ="name">
                            <label for="name">Name: </label>
                            <input type="text" id= "name" name="name">
                        </div>
                        <hr>
                        <div class="question">
                            <h2>What is a correct syntax to output "Hello World" in Python?</h2>
                            <div>
                                <input type="radio" id="print" name ="question1"  value="print">
                                <label for ="print">print("Hello World")</label>
                            </div>
                            <div>
                                <input type="radio" id="println" name="question1" value="println">
                                <label for="println">println("Hello World")</label>
                            </div>
                            <div>
                                <input type="radio" id="p" name="question1" value="p">
                                <label for="p">p "Hello World";</label>
                            </div>
                            <div>
                                <input type="radio" id="print2" name="question1" value="print2">
                                <label for="print2">print "Hello World"</label>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h2>Which of these assignment operators are correct?</h2>
                            <div>
                                <input type="checkbox" id="+=" name="question2" value="+=">
                                <label for="+=">x += 7</label>
                            </div>
                            <div>
                                <input type="checkbox" id="++" name="question2" value="++">
                                <label for="++">x++</label>
                            </div>
                            <div>
                                <input type="checkbox" id="//=" name="question2" value ="//=">
                                <label for="//=">x //= 4</label>
                            </div>
                            <div>
                                <input type="checkbox" id ="**" name="question2" value="**">
                                <label for="**"> x \= 3</label>
                            </div>
                            <div>
                                <input type="checkbox" id="%=" name="question2" value="%=">
                                <label for="%=">x %= 8</label>
                            </div>
                        </div>
                        <hr>
                        <div class = "question">
                            <h2>What is the result of this code?</h2>
                        </div>
                        <input type="submit">
                    </form>
                </fieldset>
            <img src="{% static 'portfolio/images/graf.png' %}" alt ="graf">
            </main>
         {% endblock %}
    </main>
</body>
</html>