main{
    height:200vh;
    background-image: url("../images/quizz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.quizz{

    border: 0;
}

.name{
    display: flex;
    justify-content: center;
    border: 0;
    padding-top: 2em;
}

.name > label {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 4ch;
    font-weight: bolder;
    margin-right: 10px;
}

.name > input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 5px 40px;
    text-align: left;
    color: white;
    font-size: large;
}

.quizz > form > hr{
    border: 0.5px solid white;
    margin-left: 5em;
    margin-right: 6em;
    margin-top: 1.5em;
}

.question{
    color:white;
    font-family: 'Nunito', sans-serif;
}

.question > h2{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.question > div{
    display: flex;
    justify-content: flex-start;
    margin-left: 23em;
}
.question > div> label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.question > div> input{
    margin-bottom: 0.5em;
    margin-top: 2.7em;
}
.question2 {

    color:white;
    font-family: 'Nunito', sans-serif;
}
.question2 > h2{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
}