main{
    height:410vh;
    background-image: url("../images/quizz.f909cd989211.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.title{
    display: flex;
    justify-content: center;
    border: 0;
    padding-top: 0.5em;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 4ch;
    font-weight: bolder;
    margin-right: 10px;
}

.quizz{

    border: 0;
}

.name{
    display: flex;
    justify-content: center;
    border: 0;
    padding-top: 2em;
}

.name > label {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 4ch;
    font-weight: bolder;
    margin-right: 10px;
}

.name > input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 5px 40px;
    text-align: left;
    color: white;
    font-size: large;
}

.quizz > form > hr{
    border: 0.5px solid white;
    margin-left: 5em;
    margin-right: 6em;
    margin-top: 1.5em;
}

.question{
    color:white;
    font-family: 'Nunito', sans-serif;
}

.question > h2{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.question > div{
    display: flex;
    justify-content: flex-start;
    margin-left: 27em;
}
.question > div> label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.question > div> input{
    margin-bottom: 0.5em;
    margin-top: 2.7em;
}

.question> div> select{
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 5px 25px;
    text-align: left;
    color: black;
    font-size: large;
    margin-top: 2em;
}

.question > h3{
    font-size: 1.5em;
    padding-left: 15em;
    margin-left: 5em;

}
.nameString{
    color:lawngreen;
}

.splitString{
    color:#09c4fb;
}

.printX{
    color: #2aa198;
}

.parenthesesRed{
    color:#ca4a16
}
.numberIndex{
    color: #d33682
}

.q3 > input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 5px 40px;
    text-align: left;
    color: white;
    font-size: large
}

.submitButton{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 2.5em;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 15em;
    margin-bottom: 0.5em;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.image > img{
    border-radius: 10px;
}
